@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Cormorant");

*,*:before,*:after{
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

 body{
	background-color: rgba(217,217,217,1.00);
    -webkit-box-shadow: inset 0px 0px #3C3C3C;
    box-shadow: inset 0px 0px #3C3C3C;
    width: 100%;
 }

  
 h1{
	color: #1F1E1E;
	text-align: left;
	font-size: 1em;
	font-family: 'Cormorant', serif;
  } 
   h2{
	text-align: right;
	font-family: 'Cormorant', serif;
	font-size: 0.5em;
	letter-spacing: 2px;
	color: #1F1E1E;
	width: 100%;
	padding-right: 12px;
  } 
  h2.white {
	  text-align: left;
	  font-family: 'cormorant', serif;
	  font-size: 1em;
	  color: #fff;
  }
  h2.black {
	text-align: left;
	  font-family: 'cormorant', serif;
	  font-size: 1em;
	  color: #000;  
  }

  
body#about {
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px #3C3C3C;
    box-shadow: inset 0px 0px #3C3C3C;
    width: 100%;
}

#wrapper-dark {
	height: 100vh;
	width: 40%;
	float: left;
	background-image: url(../images/A-background.png);
	background-repeat: no-repeat;
	background-size: cover;

	}
body#portfolio {
	height: 100vh;
	width: 100%;
	background-image: url(../images/magazine.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	}	
	#about-text {
    background-color: #fff;
    width: 60%;
    float: right;
}

#logo {
	margin-top:25px;
	width: 150px;
	position: relative;
	border-right: 5px solid #222;
	padding-top: 0px;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-right: 10px;
	z-index: 9;
}
#black-box {
    width: 150px;
    height: 200px;
    background-color: #002;
    /*margin: 25px auto;*/
    margin: 50px auto;
}
#img-box1 {
   width: 350px;
    height: 290px;
    margin: 45px 25px;
    float: right;
    position: relative;
	background-image: url(../images/woodwork.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.black-bar-right1 {
	width: 45px;
    height: 480px;
    margin: 60px 10px;
    float: right;
    position: relative;
    background-color: #000;
    z-index: -1;
}
.text-left{
float: left;
}
h2#black {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 0.9em;
    color: #000;
    position: relative;
    right: -2px;
    top: -20px;
}
 img#one {
	float: right;
    padding-right: 75px;
    padding-top: 55px;
}

 img#two {
	margin-left: 90px;
    margin-top: 190px;
    width: 325px;
    height: 250px;
}

h2#black1 {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 0.9em;
    color: #000;
    position: relative;
    right: 51px;
    top: -13px;
}
h2#white {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
    color: #fff;
    position: inherit;
    margin-top: -34px;
    margin-left: 3px;
}
h2#black2 {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 0.9em;
    color: #000;
    position: relative;
    right: 0px;
    top: 167px;
    width: 200px;
}


p#about-me {
    color: #1F1E1E;
    text-align: left;
    font-size: 1em;
    font-family: 'Cormorant', serif;
    width: 300px;
    margin-top: 200px;
    margin-left: -75px;
}
p#about-me2 {
    color: #1F1E1E;
    text-align: left;
    font-size: 1em;
    font-family: 'Cormorant', serif;
    width: 300px;
    margin-top: 5px;
    margin-left: -75px;

}

p#portfolio-1 {
	 color: #1F1E1E;
    text-align: right;
    font-size: 1em;
    font-family: 'Cormorant', serif;
    width: 275px;
    margin-top: 200px;
    margin-left: 55px;
}
.nav-box {
	float: left;
	width: 25%;
	height: 200px;
	display: block;
	padding: 5px;
}
.nav-box-inner {
    position: relative;
    background-color: #EBEBEB;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0px 8px -4px;
    box-shadow: 0 0px 8px -4px;
    border-radius: 3px;
}
.image-clip{
	width: 100%;
	height:165px;
	padding-top:50px;
	overflow: hidden;
}
.nav-box img {
	width: 100%;
	height: auto;
}
#navigation-wrapper {
	width: 100%;
	padding:100px;
}
.clearfix:after{
	content"";
	display: block;
	clear:both;
}
.main {
	padding-top: 10px;
	width: 100%;
}
.nav-box #gallery {
	text-align: right;
	position: absolute;
	top: 7px;
	right: -5px;
	color: #1F1E1E;
	font-size: 1.6em;
	font-family: 'Anton', sans-serif;
}
.nav-box #about {
	text-align: right;
	position: absolute;
	top: 25px;
	right: 0;
	color: #1F1E1E;
	font-size: 1.6em;
	font-family: 'Anton', sans-serif;
}
.nav-box #contact {
	text-align: right;
	position: absolute;
	top: 25px;
	right:0;
	color: #1F1E1E;
	font-size: 1.6em;
	font-family: 'Anton', sans-serif;
}
.nav-box #resume {
	text-align: right;
	position: absolute;
	top: 7px;
	right:0;
	color: #1F1E1E;
	font-size: 1.6em;
	font-family: 'Anton', sans-serif;
}


.nav-box h3 a:hover, a:active{
	color: #5C8958;
	text-decoration: none;
}
.nav-box h3 a  {
	color: #1F1E1E;
	text-decoration: none;
}
.social {
	display: block;
	bottom: 5%;
	right: 5%;
	float: right;
	padding-top: 70px;
	padding-right: 35px;
}

@media all and (min-width: 960px) {
    #resume a, #about a, #contact a, #gallery a{
        font-size: 1.3em;
    }
    .nav-box #gallery{
    	right: 2px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    #resume a, #about a, #contact a, #gallery a{
        font-size: 0.8em;
    }
    .image-clip {
    width: 100%;
    padding-top: 50px;
    overflow: hidden;
}

    .nav-box #gallery{
    	right: 1px;
	}
	.nav-box-inner{
		height: 175px
	}
	.social img {
	width: 35px;
	height: 35px;
}
    }
 
@media screen and (max-width: 599px) {
    #resume a, #about a, #contact a, #gallery a{
        font-size: 0.8em;
    }
    .nav-box{
    	height: 100px;
    	
    }
     #navigation-wrapper{
    	width:100%;}
		
	.nav-box #about, .nav-box #gallery, .nav-box #contact, .nav-box #resume {
    text-align: right;
    position: absolute;
    top: 25px;
    right: 0;
	font-size: 0.8em;
}

.nav-box img {
	display: none;
}
.social img {
	width: 25px;
	height: 25px;
}
#wrapper-dark {
	height: 100px;
	width: 100%;
	float: none;
	background-image: url(../images/A-Black.jpg)
}
#about-text{
	width: 100%;
	float: none;
}
#black-box {
    margin: 0 auto;
}
h2#black {
    color: #fff;

}
p #about-me2 {
	margin-left: -125px;
	padding: 5px;
	width:100px;
	padding-bottom: 25px;
}
}

@media screen and (max-width: 480px) {
.nav-box{
	width: 50%;

}
.social img{
	width: 25px;
	height: 25px;
	bottom: 5%;
	margin-left: 5%;
    }

.nav-box img {
	display: none;
}
#navigation-wrapper {
	width: 90%;
    margin: auto;
    padding: 5%;
}
.nav-box #about {
    text-align: right;
    position: absolute; 
    right: 0;
}
.social {
	float: none;
	padding-top: 25px;
	padding-right: 35px;
}
p #about-me {
	margin-left: -125px;
	padding: 5px;
	width:100px;
}
p #about-me2 {
	margin-left: -125px;
	padding: 5px;
	width:100px;
}
body#about {
    background-color: #fff;
}
}
@media screen and (min-width: 100px) and (max-width: 300px){
	 #resume a, #about a, #contact a, #gallery a{
        font-size: 0.8em;
    }
    .nav-box{
	float: none;
	width: 100%;
}
   .nav-box #gallery{
    	right: 1px;
	}

 h2#black, p#about-me, p#about-me2 {
	font-size: 0.7em;
	text-align:left;
}
 h2#black1 {
	font-size: 0.7em;
	text-align:left;
	right: 40px;
}
h2#black2 {
	font-size: 0.7em;
	text-align:left;
    right: 0px;
    top: 176px;
}
h2#white{
	font-size: 0.7em;
	text-align:left;
margin-top: -30px;
}

}

@media screen and (min-width: 250px) and (max-width: 480px){
	 #resume a, #about a, #contact a, #gallery a{
        font-size: 1em;
    }
   .nav-box #gallery{
    	right: 2px;
	}
}

