@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Cormorant");

  
 h1{
	color: #1F1E1E;
	text-align: left;
	font-size: 1em;
	font-family: 'Cormorant', serif;
	padding-top: 85px;
	padding-left: 20px;
  } 
   h2{
	text-align: left;
	font-family: 'Cormorant', serif;
	font-size: 0.5em;
	letter-spacing: 2px;
	color: #1F1E1E;
	margin-left: 85px;
	margin-top: -15px;
  } 
body  {
	background-color: rgba(217,217,217,1.00);
	padding-top: 25px;
	padding-bottom: 25px;
	-webkit-box-shadow: inset 0px 0px #3C3C3C;
	box-shadow: inset 0px 0px #3C3C3C;
	width: 100%;
	height: 600px;
}


#logo {
	width: 106px;
	position: absolute;
	-webkit-box-shadow: 4px 0px;
	box-shadow: 4px 0px;
	top: 25px;
	left: 25px;
	padding-bottom: 5px;
	padding-right: 10px;
}
.nav-box {
	float: left;
	background-color: #FFE2B8;
	border: 1px black solid;
	width: 20%;
	height: 300px;
	display: block;
	margin-right: 5px;
	margin-left: 5px;
	-webkit-box-shadow: 0 0px 8px -4px;
	box-shadow: 0 0px 8px -4px;
	border-radius: 3;
}
.nav-box img {
	width: 100%;
	margin-top: -18px;
	height: 50%;
}
#rectangles {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}
.companyName {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	width: 100%;
}
.nav-box #gallery {
	text-align: right;
	position: relative;
	margin-top: 7px;
	margin-left: 43px;
	color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
	font-size: 1.6em;
	font-family: 'Anton', sans-serif;
}
.nav-box #about {
	text-align: right;
	position: relative;
	margin-top: 105px;
	margin-left: 45px;
	color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
	font-size: 1.6em;
	font-family: 'Anton', sans-serif;
}

.nav-box #contact {
	text-align: right;
	position: relative;
	margin-top: 145px;
	margin-left: 34px;
	color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
	font-size: 1.6em;
	font-family: 'Anton', sans-serif;
}
.nav-box h3 a:hover , a:active{
	color: #5C8958;
	text-decoration: none;
}
.nav-box h3 a  {
	color: #1F1E1E;
	text-decoration: none;
}

.nav-box #resume {
	text-align: right;
	position: relative;
	margin-top: 47px;
	margin-left: 34px;
	color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
	font-size: 1.6em;
	font-family: 'Anton', sans-serif;
}
.social {
	display: block;
	bottom: 5%;
	right: 5%;
	float: right;
	padding-top: 60px;
	padding-right: 35px;
	background-color: #E8C66A;
	border: 1px black solid;
}
header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;

}